/* CSS del proyecto*/

/* Cuando se quiere importar una fuente de google fonts se debe poner al inicio de todo */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reseteo del estilo nativo del navegador*/

*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}

/* Estilos del body (todo el archivo) */
body{
    background-color:#FFFFFF;
    font-family: 'Roboto'
    ;
}

/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/

/* Estilos del header */
header{
    border: 1px solid  black;
    margin: 2px 2px;
}

header nav{    
    text-align: center;
}

header nav ul{
    list-style: none;
    padding: 0px;
    margin: 5px;
}

header nav ul li{
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a{
    text-decoration: none;
    color: #000;
}

.nav_secundario{
    text-align: right;
}


.header_logo{
    width: 90px;
    margin-bottom: 0px;    
}

/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/

/* Estilos del main */
main{
    border: 1px solid  black;
    margin: 2px 2px;    
}

.home_img{
    display: inline-block;
    height: 400px;
    width: auto;
    padding: 20px;

}


.img_products{
    display: inline-block;
    height: 350px;
    width: auto;
    padding: 10px;
}

h1{
    margin: 10px;
}

p{
    margin: 10px 5px;
}

form{
    margin: 5px;
}

.contact-us_form{
    margin: 5px;
    padding: 5px;
}

.form_label {
    display: block; /* Hace que el label sea un bloque */
    margin-bottom: 10px;
}

/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/

/* Estilos del footer */
footer{
    border: 1px solid  black;
    margin: 2px 2px;
}

footer p{
    margin: 10px;
    font-size: small;
}
.ig_footer_icon {
    width: 30px;
    margin: 5px;
}

.fb_footer_icon {
    width: 30px;
    margin: 5px;    
}

