@import "../utilities/_variables";
@import "../utilities/_mixin";
@import "../utilities/_map";
// Estilos del main

main {
    @include main;
            div {
                        img{
                            @include img;
                        }
                }        
}
.container-gallery{
    @include main;
}
.container-about-us{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.home_img5, .home_img6{
    display: none;
}
form{
    margin: 5px;
}
.contact-us_form{
    margin: 5px;
    padding: 5px;
}
.form_label {
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
    
}
input{
    width: 30%;
}
input[type="submit"]{
    background-color: #F7F3E7;
    width: 100px;
    border-radius: 5px;
}
input[type="reset"]{
    background-color: #F7F3E7;
    width: 100px;
    border-radius: 5px;
}
button[type="submit"]{
    background-color: #F7F3E7;
    width: 100px;
    border-radius: 5px;
}
span {
    margin: 15px;
    display: block;
    font-size: 10px;
    font-weight: bold;
    text-decoration: underline;
}
input:hover{
    background-color: #F2E4BF;
}
button:hover{
    background-color: #F2E4BF;
}
span:hover{
    color: purple;
}

    @media screen and (min-width: medida(tablet)){
        main .home_img4{
            display: none;
        }
        main .home_img5{
            display: none;
        }
        main .home_img6{
            display: none;
        }
        .container-gallery{
            grid-template-columns: 1fr 1fr 1fr;
            gap: 15px;
        }
        .container-about-us{
            display: grid;
            grid-template-columns: 60% 40%;
            align-items: center;
        }
        .p-about-us{
            align-self: center;
        }
        .img-about-us{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
@media screen and (min-width: medida(desktop)){
        main .home_img4{
            display: block;
        }
        main .home_img5{
            display: block;
        }
        main .home_img6{
            display: block;
        }
        .container-gallery{
            grid-template-columns: 1fr 1fr 1fr;
            gap: 15px;
        }
        .container-about-us{
            display: grid;
            grid-template-columns: 60% 40%;
            align-items: center;
        }
        .p-about-us{
            text-align: justify;
            margin-right: 25px;
        }
        .img-about-us{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
